DEVELOPMENT.md
.DS_Store
*.swp
*.orig
*.log
*.trace
*.xcresult
**/*.xcuserstate
**/xcuserdata/
**/project.xcworkspace/xcuserdata/
DerivedData/
.swiftpm/
build/displaymodemenu.build
build/EagerLinkingTBDs
build/ExplicitPrecompiledModules
build/SwiftExplicitPrecompiledModules
build/XCBuildData
build/Release/DisplayModeMenu.app.dSYM
build/Release/DisplayModeMenu.swiftmodule
*.app/
scripts/test_app.sh